form.create-reservation,div.display-reservation{
    width: 480px;
   
   
    margin: 30px auto 20px auto;

    background-color: rgba(87, 82, 82, 0.1);
    padding: 15px;
    border-radius: 7px;
    color: white  ;
}

form  p.error{
    font-size: 1.2em;
    color: red;
}
div.meal-item{
    text-align: center;
    min-height: 100vh;
    
}
.meal-container{
    background-color: rgba(87, 82, 82, 0.6);
    width: 480px;
    box-shadow: 0 1px 5px rgb(138,137,137);
    border-radius: 7px;
    margin: 30px auto 20px auto;
    color: white;
    
}
.meal-container div.meal-list div{
    padding: 5px;
    font-weight: bold;
}